#!/bin/bash

##########################################
# Capture pre-migration source stats
##########################################
gh migrate stats \
{%- for org in orgs %}
    --source-org "{{ org }}" \
{%- endfor %}
    --source-pat {{ source_pat }} \
    -o before-source-dry-run-04-16-2024.csv

##########################################
# Migrate!
##########################################
{%- for org in orgs %}
gh gei migrate-org \
    --github-target-enterprise {{ target_slug }} \
    --github-source-org {{ org }} \
    --github-target-org {{ org }}-DRYRUN \
    --github-source-pat {{ source_pat }} \
    --github-target-pat {{ target_pat }} \
    --verbose
{% endfor -%}

##########################################
# Capture post-migration source stats
##########################################
gh migrate stats \
{%- for org in orgs %}
    --source-org "{{ org }}" \
{%- endfor %}
    --source-pat {{ source_pat }} \
    -o after-source-dry-run-04-16-2024.csv

##########################################
# Capture post-migration target stats
##########################################
gh migrate stats \
{%- for org in orgs %}
    --target-org "{{ org }}-DRYRUN" \
{%- endfor %}
    --target-pat {{ target_pat }} \
    -o after-target-dry-run-04-16-2024.csv

##########################################
# Capture migration logs
##########################################
gh migrate check \
{%- for org in orgs %}
    --target-org "{{ org }}" \
{%- endfor %}
    --target-pat {{ target_pat }} \
    -o logs