#!/bin/bash

source .env.pats

##########################################
# Capture pre-migration source stats
##########################################
{% if dry_run %}
gh migrate stats --before --source --dry-run --wave {{ wave }}
{% else %}
gh migrate stats --before --source --wave {{ wave }}
{% endif %}

##########################################
# Migrate!
##########################################
{%- for org in orgs %}
gh gei migrate-org \
    --github-target-enterprise ${target_slug} \
    --github-source-org {{ org["source_name"] }} \
    {%- if dry_run %}
    --github-target-org {{ org["dry_run_target_name"] }} \
    {%- else %}
    --github-target-org {{ org["target_name"] }} \
    {%- endif %}
    --github-source-pat ${source_pat} \
    --github-target-pat ${target_pat} \
    --verbose
{% endfor %}

##########################################
# Capture post-migration source stats
##########################################
{%- if dry_run %}
gh migrate stats --after --source --dry-run --wave {{ wave }}
{%- else %}
gh migrate stats --after --source --wave {{ wave }}
{% endif %}

##########################################
# Capture post-migration target stats
##########################################
{%- if dry_run %}
gh migrate stats --after --target --dry-run --wave {{ wave }}
{%- else %}
gh migrate stats --after --target --wave {{ wave }}
{% endif %}

##########################################
# Get migration logs
##########################################
{%- if dry_run %}
gh migrate get logs --dry-run --wave {{ wave }}
{%- else %}
gh migrate get logs --wave {{ wave }}
{% endif %}

##########################################
# Cleanup
##########################################
export GITHUB_TOKEN=${target_pat}

{%- for org in orgs %}
gh repo delete \
    {%- if dry_run %}
    {{ org["dry_run_target_name"] }}/gei-migration-results
    {%- else %}
    {{ org["target_name"] }}/gei-migration-results
    {%- endif %}
{% endfor %}

##########################################
# Generate post-migration report
##########################################
{%- if dry_run %}
gh migrate report --dry-run --wave {{ wave }}
{%- else %}
gh migrate report --wave {{ wave }}
{% endif %}